# Ignore platform-specific folders for GitHub language statistics
ios/* linguist-vendored
android/* linguist-vendored
macos/* linguist-vendored
windows/* linguist-vendored
linux/* linguist-vendored
web/* linguist-vendored
